extends ./layout/common

block menu
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Logo
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/users')
                        |   List Users
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='/books') List Books
                li.nav-item
                    a.nav-link(href='/transactions') Transactions
                li.nav-item
                    a.nav-link(href='/auth/login') Log In
                li.nav-item
                    a.nav-link(href='/auth/logout') Log Out

