html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="/style.css")
    body
    block navigation bar
    block main