extends ./layout/common

block content
    h1 I love CodersX
    ul(class="d-flex justify-content-around bg-light")
        li
            a(href="/users") List Users
        li
            a(href="/books") List Books
        li
            a(href="/transactions") Transactions