extends ../index

block content
    .container-md.mt-5
        h1 Modifying Name
        form.mt-5(action="/users/" + user.id + "/update", method="POST")
            .form-group
                label(for='username') Username
                input#username.form-control(type='text', name="name", required)
            button.btn.btn-primary(type='submit') Update
