extends ./index

block content
    .container-md.mt-5
        h1 Login
        br
        if err
            .alert.alert-danger= err
        if !wrongLogin
            form(action="", method="POST")
                .form-group
                    label(for='email') Email
                    input#email.form-control(type='email', name="email", required)
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password', name="password", required)
                    button.mt-3.btn.btn-primary(type='submit') Login
                    p.mt-3 Don't have an account?
                        a.ml-1(href="/auth/create") Sign up 