extends ../layout/common

block content
    h1 Transactions
    ul
        each i in id
            li
                strong=i.id
                span  
                    a(href="/transactions/" + i.id + "/is-complete") check
    br
    div
        a(href="/transactions/create") Create
    div
        a(href="/") Home