extends ../layout/common

block content
    h1 Add a new user
    form(action="/users/create", method="POST")
        label Name
        div
            input(type="text", name="name")
        button Add
    a(href="/users") Prev