extends ../layout/common

block content
    h1 Modifying Name
    form(action="/users/" + user.id + "/update", method="POST")
        label Name
        div
            input(type="text", name="name")
        button Update
    a(href="/users") Prev
