extends ../index

block main
    .container.container-sm
        .row
            table.table.table-light.mt-5
                thead.bg-light
                    tr
                        th(scope='col') Username
                        th(scope='col', width="40%") 
                        th(scope='col') Option
                tbody
                    each user in users
                        if !user.isAdmin
                            tr
                                //td user.avatar
                                td(colspan=2)= user.username
                                td 
                                    a(href="/users/" + user.id).btn.btn-info.mr-3 views
                                    a(href="/users/" + user.id + "/delete").btn.btn-danger.mr-3 Remove
