html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
    body
        header
            block content