h1 The best sales books for sales training and learning
ul
    each book in books
        li=book.title
            span  
                a(href="/books/" + book.id) view
            span  
                a(href="/books/" + book.id + "/delete") delete
            span  
                a(href="/books/" + book.id + "/update") update
div    
    a(href="/books/create") Add book
div    
    a(href="/") Home